img
{
    height: 150px;
    width: 150px;
    display: inline-block;
    margin: 50px;
    border: 5px gray ridge;
}
section
{
    border: gray 10px ridge;
    margin: 120px auto;
    width: 800px;
}